* {
  font-family: SF Pro Display;
  font-size: 15px;
}

window#waybar {
  background-color: rgba(16, 16, 16, 0.8);
  color: #ffffff;
  transition-property: background-color;
  border-top: 2px transparent;
  transition-duration: 0.5s;
  color: rgb(240, 239, 244);
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button.focused {
  color: #bf616a;
}

#workspaces button.active {
  color: rgb(0, 130, 252);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-clipboard,
#custom-notifications,
#custom-layoutswitcher,
#taskbar,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  padding: 0 5;
}

#network.disconnected {
  color: rgb(218, 44, 56);
}

#custom-notifications,
#custom-clipboard,
#custom-layoutswitcher {
  font-family: Noto Color Emoji;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#custom-logout {
  color: rgb(218, 44, 56);
  padding-left: 5px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

label:focus {
  background-color: #000000;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}