* {
  font-family: FontAwesome;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(16, 16, 16, 0.8);
  color: #ffffff;
  transition-property: background-color;
  border-top: 2px transparent;
  transition-duration: 0.5s;
  color: rgb(240, 239, 244);
}

window#waybar.hidden {
  opacity: 0.2;
}

#custom-logout {
  padding-left: 15px;
  padding-right: 10px;
}

#workspaces {
  padding: 0px;
  margin: 0px;
  font-stretch: ultra-condensed;
  font-weight: bold;
}

#workspaces button {
  min-width: 0;
}

#workspaces button.focused {
  color: #bf616a;
}

#workspaces button.active {
  color: #0082fc;
}

#workspaces button.urgent {
  color: #da2c38;
}

#network.disconnected,
#pulseaudio.muted {
  color: #da2c38;
}

#battery.charging {
  animation-name: blink-charging;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#battery.full {
  color: #5bc236;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink-charging {
  70% {
color: white;
  }

  to {
      color: #fffc00;
  }
}

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
color: #F0AD4E;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
      color: #da2c38;
  }
}

#custom-weather,
#custom-notifications,
#language,
#network,
#cpu,
#memory,
#battery,
#backlight,
#custom-clipboard,
#tray,
#pulseaudio,
#clock {
  margin: 0px 3px;
  padding: 0px 1px;
}

#custom-clipboard,
#custom-notifications {
  margin: 0px 5px;
  padding: 0px 3px;
}

#clock {
  padding-right: 15px;
}

label:focus {
  color: #000000;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  color: #eb4d4b;
}
