* {
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: bold;

    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgb(16, 16, 16);
}

button label {
    all: unset;
}

window#waybar {
    background: rgba(16, 16, 16, 0.75);
    border-radius: 0px;
}

/* ----------- WORKSPACES ----------- */
#workspaces button {
    padding: 0 4px;
    margin: 2px;
    background: rgb(75, 81, 98);
}

#workspaces button.focused {
    background: rgb(82, 148, 226);
}

#workspaces button.urgent {
    background: rgb(255, 15, 15);
}

/* Empty */
#workspaces button.persistent {
    color: #4e4e4e;
}

#custom-logout,
#custom-weather,
#custom-stock,
#custom-notifications,
#custom-clipboard,
#language,
#idle_inhibitor,
#network,
#cpu,
#memory,
#pulseaudio,
#clock,
#tray {
    padding: 0 6px;
    margin: 2px;
    color: rgb(255, 255, 255);
    background: rgb(75, 81, 98);
}

#custom-logout,
#custom-clipboard,
#idle_inhibitor {
    padding: 0 12px 0 10px;
}

#custom-stock.profit,
#idle_inhibitor.activated {
    background: rgb(5, 145, 66);
    color: rgb(255, 255, 255);
}

#pulseaudio.muted,
#custom-stock.loss,
#idle_inhibitor.deactivated,
#network.disconnected {
    background: rgb(255, 15, 15);
    color: rgb(255, 255, 255);
}

/*
#tray {
    -gtk-icon-shadow: 2px 2px rgb(16, 16, 16);
}
*/

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: rgb(255, 15, 15);
}